OMISE_SECRET_KEY=skey_test_xxxxxxxxxxxxxxxxxxx
OMISE_PUBLIC_KEY=pkey_test_xxxxxxxxxxxxxxxxxxx
OMISE_API_VERSION=2017-11-02
FLASK_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FLASK_DEBUG=1
STORE_LOCALE=th_TH
STORE_CURRENCY=THB
PREFERRED_URL_SCHEME=http
# SERVER_NAME=omise-flask-example.example.com:5000